html{background-color:#000;}
body{color:#0f0;font-family:"Lucida Console";font-size:13px;}
#in{background-color:#000;border-color:#fff;border-width:1px 0 0 0;bottom:0;color:#0f0;display:block;left:0;padding:8px;position:fixed;width:100%;}
#out{padding:50px;}
.typed-cursor{animation:blink 0.7s infinite;}
@keyframes blink{0%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}
